/* INICIO CARACTERISTICAS GENERALES */
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}


/* FIN CARACTERISTICAS GENERALES */


  .whatsapp {
    position: fixed;
    bottom: 40px;
    right: 90px;
    
}
.navegacion_principal_header {
  background-color: #3e6bc3;
  /* width: 100%; */
  /* height: 120px; */
  position: fixed;
  display: grid;
  grid-template-areas: "logo nav";
  /* padding: 40px 0 20px 0px; */
}
.navegacion_principal_header_logo {
  grid-area: logo;
  width: 10%;
  padding-top: 2px;
  border-radius: 30%;
}
.navegacion_principal_nav {
  /* width: 100%; */
  grid-area: nav;
  display: grid;
  border-radius: 20%;
  margin-top: 25px;
  
}

.navegacion_a {
  text-align: center;
  color: #043caa;
  border-radius: 50px;
  background-color: aqua;
  font-weight: 500;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 20px;
  margin: 10px;
}
.navegacion_sub {
  color: #043caa;
  border-radius: 50px;
  background-color: aqua;
  font-weight: bold;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  width: 100%;
  padding: 15px;
}
.navegacion_principal_nav ul {
  font-size: 0;
  text-align: end;
}

.navegacion_principal_nav ul li {
  display: inline-block;
  position: relative;
}
.navegacion_principal_nav ul ul {
  display: none;
  position: absolute;
  padding-top: 25px;
}

.navegacion_principal_nav ul ul li {
  display: block;
  padding-bottom: 25px;
  padding-top: 20px;
  text-align: start;
}

.navegacion_principal_nav ul li:hover ul {
  display: block;
}

.main_header_principal {
  width: 95%;
  height: 100%;
}

.main_header_principal_imagen {
  width: 100%;
  height: 200px;
  margin: 0;
  display: grid;
}
@media (min-width: 992px) {

  .whatsapp {
    bottom: 40px;
    right: 40px;
    
}

.navegacion_principal_header {
  background-color: #3e6bc3;
  width: 100%;
  height: 120px;
  position: fixed;
  display: grid;
  grid-template-areas: "logo nav";
  padding: 40px 0 20px 0px;
}
.navegacion_principal_header_logo {
  grid-area: logo;
  width: 10%;
  padding-top: 2px;
  border-radius: 30%;
}
.navegacion_principal_nav {
  width: 100%;
  grid-area: nav;
  display: grid;
  border-radius: 20%;
}

.navegacion_a {
  text-align: center;
  color: #043caa;
  border-radius: 50px;
  background-color: aqua;
  font-weight: 500;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 20px;
  margin: 10px;
}
.navegacion_sub {
  color: #043caa;
  border-radius: 50px;
  background-color: aqua;
  font-weight: bold;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  width: 100%;
  padding: 15px;
}
.navegacion_principal_nav ul {
  font-size: 0;
  text-align: end;
}

.navegacion_principal_nav ul li {
  display: inline-block;
  position: relative;
}
.navegacion_principal_nav ul ul {
  display: none;
  position: absolute;
  padding-top: 25px;
}

.navegacion_principal_nav ul ul li {
  display: block;
  padding-bottom: 25px;
  padding-top: 20px;
  text-align: start;
}

.navegacion_principal_nav ul li:hover ul {
  display: block;
}
/* FIN HEADER */



.main_header_principal_imagen {
  height: 500px;

}
/* FIN MAIN PRINCIPAL */

/* INICIO CÓMO TRABAJAMOS */
.como_trabajamos {
  background-color: #3e6bc3;
  background-image: linear-gradient(
    to bottom,
    rgb(4, 0, 255),
    rgb(0, 208, 255)
  );
  height: 100vh;
  align-items: center;
  display: grid;
}

.como_trabajamos_contenedor {
  display: grid;
  grid-template-areas:
    "title title title"
    "card_01 card_02 card_03";
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr;
  width: 100%;
  height: 65vh;
  gap: 20px 35px;
}

.como_trabajamos_titulo {
  color: aqua;
  font-weight: bold;
  line-height: 3;
  background-color: #c33e92;
  border-radius: 40%;
  text-align: center;
  width: 20%;
  height: 50%;
  padding: 25px;
  grid-area: title;
  font-size: 38px;
  align-items: center;
  transition: height 2s;
}
.pedido_contenedor {
  /* text-align: start; */
  grid-area: card_01;
  display: grid;
  grid-template-areas:
    "title_pedido"
    "imagen_pedido"
    "descripcion_pedido";
  justify-items: center;
}
.pedido_titulo {
  color: #043caa;
  font-weight: bold;
  border-radius: 30px;
  background-color: aqua;
  text-align: center;
  line-height: 3;
  grid-area: title_pedido;
  width: 50%;
  align-items: center;
  height: 70px;
}
.pedido_imagen {
  width: 50%;
  border-radius: 40%;
  grid-area: imagen_pedido;
  margin: 15px;
  transition: height 2s, width 1s;
}
.pedido_contenido {
  color: aqua;
  font-size: 20px;
  background-color: #043caa;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  margin-left: 25px;
  border-radius: 40px;
  grid-area: descripcion_pedido;
}

.delivery_contenedor {
  text-align: start;
  display: grid;
  grid-template-areas:
    "title_delivery"
    "imagen_delivery"
    "descripcion_delivery";
  grid-template-columns: 1fr;
  grid-template-rows: 1 fr 3fr 2fr;
  grid-area: card_02;
  justify-items: center;
}
.delivery_titulo {
  color: #043caa;
  font-weight: bold;
  border-radius: 30px;
  background-color: aqua;
  line-height: 3;
  margin: 25px;
  text-align: center;
  grid-area: title_delivery;
  padding: 15px;
  height: 60px;
}
.delivery_imagen {
  border-radius: 40%;
  margin: 25px;
  width: 50%;
  grid-area: imagen_delivery;
}
.delivery_contenido {
  color: aqua;
  font-size: 20px;
  background-color: #043caa;
  font-weight: bold;
  border-radius: 40px;
  padding: 15px;
  margin-left: 25px;
  grid-area: descripcion_delivery;
  text-align: center;
}

.takeaway_contenedor {
  text-align: start;
  display: grid;
  grid-template-areas:
    "title_takeaway"
    "imagen_takeaway"
    "descripcion_takeaway";
  grid-template-columns: 1fr;
  grid-template-rows: 1 fr 3fr 2fr;
  grid-area: card_03;
  margin-left: 15px;
  justify-items: center;
}
.takeaway_titulo {
  color: #043caa;
  font-weight: bold;
  border-radius: 30px;
  background-color: aqua;
  text-align: center;
  line-height: 3;
  grid-area: title_takeaway;
  width: 50%;
}
.takeaway_imagen {
  border-radius: 40%;
  margin: 25px;
  grid-area: imagen_takeaway;
  width: 50%;
  justify-items: center;
}

.takeaway_contenido {
  color: aqua;
  font-size: 20px;
  background-color: #043caa;
  font-weight: bold;
  border-radius: 40px;
  width: 80%;
  text-align: center;
  padding: 15px;
  margin-left: 25px;
  grid-area: descripcion_takeaway;
}
.pedilo_ahora_contenedor {
  height: 20%;
  width: 100%;
  display: grid;
  justify-content: end;
  text-align: center;
  margin-top: 70px;
}
.pedilo_ahora {
  background-color: #c33e92;
  color: aqua;
  font-size: 40px;
  width: 250px;
  padding: 40px;
  margin: 30px;
  border-radius: 45px;
  font-weight: bold;
}

.pedilo_ahora:hover {
  background-color: #c33e92;
  color: aqua;
  font-size: 40px;
  padding: 40px;
  margin: 30px;
  border-radius: 45px;
  font-weight: bold;
  transition: all 2s;
  height: 60px;
  width: 350px;
  padding: 20px;
}
/* FIN CÓMO TRABAJAMOS */

/* INICIO PROMOCIONES */
.promociones_principal {
  width: 100%;
  /* background-color: #3e6bc3; */
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  display: grid;
  grid-template-areas:
    "tittle"
    "promociones";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.promociones_imagenes {
  display: grid;
  grid-template-areas: "promocion_01 promocion_02";
}
.promociones_titulo {
  color: aqua;
  font-weight: bold;
  line-height: 3;
  text-align: center;
  background-color: rgb(0, 60, 255);
  border-radius: 50%;
  width: 2  0%;
  height: 45%;
  grid-area: tittle;
  padding: 10px;
  margin: 50px;
  font-size: 38px;
  animation-name: promociones;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  opacity: 0;
  transition: 5s;
  justify-self: center;
}

.promociones_imagen01 {
  height: 240px;
  grid-area: promocion_01;
  width: 100%;
}
.promociones_imagen_2x1 {
  height: 240px;
  grid-area: promocion_02;
  width: 100%;
}
/* FIN PROMOCIONES */

/* INICIO FOOTER */
.footer_principal {
  background-color: #3e6bc3;
  color: white;
  font-size: medium;
  width: 100%;
  padding: 30px;
  display: grid;
  height: 200px;
  grid-template-areas: "farmacia instagram";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
}

.footer_farmacia {
  display: grid;
  width: 100%;
  grid-area: farmacia;
  grid-template-areas:
    "logo_farmacia"
    "datos_farmacia";
  grid-template-rows: 1fr 1fr;
}
.footer_principal_imagen_logo {
  width: 112px;
  height: 106px;
  margin: 20px;
  grid-area: logo_farmacia;
}
.footer_principal_texto_contacto {
  color: aqua;
  font-weight: bold;
  width: 30%;
  margin: 25px;
  font-size: 20px;
  grid-area: datos_farmacia;
}

.footer_instagram {
  display: grid;
  width: 100%;
  grid-template-areas:
    "logo_instagram"
    "datos_instagram";
  grid-template-rows: 1fr 1fr;
  grid-area: instagram;
}
.fOOter_principal_imagen_instagram {
  width: 112px;
  height: 106px;
  grid-area: logo_instagram;
}
.footer_principal_texto_instagram {
  color: aqua;
  font-weight: bold;
  width: 30%;
  font-size: 20px;
  grid-area: datos_instagram;
}

.footer_principal_nosotros {
  background-color: #043caa;
  color: white;
  font-size: medium;
  width: 100%;
  padding: 30px;
  display: grid;
  height: 200px;
  grid-template-areas: "logo_farmacia datos_farmacia logo_instagram datos_instagram";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  margin-top: 600px;
}

.footer_principal_contactos {
  background-color: #043caa;
  color: white;
  font-size: medium;
  width: 100%;
  padding: 30px;
  display: grid;
  grid-template-areas: "logo_farmacia datos_farmacia logo_instagram datos_instagram";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr;
}

/* INICIO PAGINA NOSOTROS */
.nosotros {
  width: 100%;
  background-color: #c33e92;
  height: 400px;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 166),
    rgb(0, 200, 255)
  );
}
.nosotros_titulo {
  line-height: 3;
  font-size: 45px;
  color: aqua;
  text-align: center;
  padding-top: 250px;
}
.nosotros_contenido {
  font: bold;
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  line-height: 3;
  margin: 150px 50px 150px 50px;
  text-align: center;
}
/* FIN PAGINA NOSOTROS */

/* INICIO PAGINA CONTACTOS */
.seccion_contactos {
  padding-top: 300px;
  font: 25px;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 166),
    rgb(0, 200, 255)
  );
  height: 600px;
  
}
.contactos_principal {
  line-height: 100px;
}
.contactos_descripcion {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 17px;
}

.enviar {
  font-size: 20px;
  margin-top: 15px;
  padding: 20px;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  background-color: #c33e92;
}

.enviar_formulario {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 25px;
  padding: 25px;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  background-color: #c33e92;
  height: 100px;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

@keyframes promociones{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}
.input{
font-size: 25px;
}


.localidad{
font-size: 25px;

}
.checkbox {
  width: 25px;
  height: 25px;
}
/* FIN PAGINA CONTACTOS */

/* INICIO PAGINA CUIDADO PERSONAL */

.cuidadopersonal_principal {
  font: 400;
  text-align: center;
  line-height: 6;
  background-color: #5d8da0;
  display: grid;
  grid-template-areas: "card_cabello card_bucal card_personal";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding-top: 120px;
}
.cuidadopersonal_subtitulo {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: aqua;
  background-color: #c33e92;
  border-radius: 50%;
  font-weight: bold;
  padding: 3;
  width: 300px;
  /* text-align: center; */
  /* margin-right: 15px; */
  font-size: 35px;
}


.seccion_cabello {
  height: 50%;
  padding-top: 200px;
  padding-bottom: 25px;
  padding-left: 25px;
  width: 60%;
  grid-area: card_cabello;
  justify-self: center;
  
}
.cabello_imagen {
  width: 300px;
  height: 250px;
  border-radius: 30px;
  
}
.seccion_higiene_bucal {
  height: 50%;
  padding-top: 200px;
  padding-bottom: 25px;
  padding-left: 25px;
  width: 60%;
  grid-area: card_bucal;
  justify-self: center;
}
.higiene_bucal_imagen {
  width: 300px;
  height: 250px;
  border-radius: 30px;
}


.seccion_higiene_personal {
  height: 50%;
  padding-top: 200px;
  padding-bottom: 25px;
  padding-left: 25px;
  width: 60%;
  grid-area: card_personal;
  justify-self: center;
}
.higiene_personal_imagen {
  width: 300px;
  height: 250px;
  border-radius: 30px;
}

/* FINAL PAGINA CUIDADO PERSONAL */

/* INICIO PAGINA MEDICAMENTOS */

.medicamentos_principal {
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 166),
    rgb(0, 200, 255)
  );
  display: grid;
  grid-template-areas: "obrasocial particulares";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding-bottom: 25px;
}

.obra_social {
  grid-area: obrasocial;
  display: grid;
  grid-template-areas:
    "foto_obrasocial"
    "titulo_obrasocial";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1 fr;
  width: 50%;
}
.particulares {
  grid-area: particulares;
  display: grid;
  grid-template-areas:
    "foto_particulares"
    "titulo_particulares";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1 fr;
  width: 50%;
}
.medicamentos_titulo_os {
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding: 15px;
  border-radius: 40%;
  grid-area: titulo_obrasocial;
  background-color: aqua;
  text-align: center;
  margin: 25px;
}
.medicamentos_titulo_particulares {
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding: 15px;
  border-radius: 40%;
  grid-area: titulo_particulares;
  background-color:#c33e92;
  text-align: center;
  margin: 25px;
}

.medicamentos_obrasocial_imagen {
  width: 500px;
  border-radius: 30%;
  margin-top: 300px;
  grid-area: foto_obrasocial;
}
.medicamentos_particular_imagen {
  width: 500px;
  border-radius: 30%;
  margin-top: 300px;
  grid-area: foto_particulares;
}
.descripcion_medicamentos {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

/* FIN PAGINA MEDICAMENTOS */