/* INICIO PAGINA CONTACTOS */
.seccion_contactos {
  padding-top: 300px;
  font: 25px;
  background-color: #bfd0d0;
  height: 1200px;
}

.form-label {
  font-size: 40px;
}
.form-control {
  height: 50px;
}
.formulario_contacto {
  align-self: center;
}
.enviar{
  font-size: 35px;
}

.form-check-label {
  font-size: 25px;
}
.imagen_contactanos {
  border-radius: 30%;
  width: 200px;
  height: 330px;
  
}

@media only screen and (max-width: 768px){
  .imagen_contactanos {
    width: 250px;
    margin-top: 20px;
    
  }
  .seccion_contactos{
    padding: 40px;
  }
}
@media only screen and (max-width: 376px) {
  .titulo_nav{
    font-size: 10px !important;
  }
  .seccion_contactos {
    padding-top: 120px;
    font: 15px;
    background-color: #bfd0d0;
    height: 700px;
  }
  .form-label {
    font-size: 15px;
  }
  .form-control {
    font-size: 2px;
  }
  .titulos{
    font-size: 15px;
  }
  .titulos_sub{
    font-size: 10px;
  }
  .imagen_contactanos{
    width: 150px;
    height: 150px;
    padding-top: 20px;
  }
}
/* FIN PAGINA CONTACTOS */
