  
  /* INICIO PAGINA CONTACTOS */
  .seccion_contactos {
    padding-top: 300px;
    font: 25px;
    background-image: linear-gradient(
      to right,
      rgb(255, 0, 166),
      rgb(0, 200, 255)
    );
    height: 1200px;
  }

  .form-label{
    font-size: 30px;

  }
  .form-control{
    font-size: 20px;

  }
  @media only screen and (max-width: 376px) {

  .seccion_contactos {
    padding-top: 120px;
    font: 25px;
    background-image: linear-gradient(
      to right,
      rgb(255, 0, 166),
      rgb(0, 200, 255)
    );
    height: 700px;
  }
  .form-label{
    font-size: 15px;

  }
  .form-control{
    font-size: 2px;

  }
  
  }
  /* FIN PAGINA CONTACTOS */
  
