/* INICIO CARACTERISTICAS GENERALES */
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* FIN CARACTERISTICAS GENERALES */

.whatsapp {
  position: fixed;
  bottom: 40px;
  right: 15px;
}
.navegacion_principal_header {
  background-color: blue;
  position: fixed;
  display: grid;
  grid-template-areas: "logo nav";
  z-index: 99;
}
.navegacion_principal_header_logo {
  grid-area: logo;
  width: 10%;
  border-radius: 30%;
  padding: 6px;
}

.titulo_nav {
  text-align: center;
  border-radius: 50px;
  padding: 18px;
  margin: 20px;
  color: blue($color: #000000) !important;
  background-color: aqua;
  font-size: 25px;
}

.navbar_name {
  color: white;
}

/* FIN HEADER */
.main_header_principal_imagen {
  height: 400px;
  width: 100%;
}
/* FIN MAIN PRINCIPAL */

/* INICIO CÓMO TRABAJAMOS */

.como_trabajamos {
  background-image: linear-gradient(
    to bottom,
    rgb(4, 0, 255),
    rgb(0, 208, 255)
  );
}

.como_trabajamos_titulo {
  color: aqua;
  font-weight: bold;
  line-height: 3;
  background-image: linear-gradient(to bottom, #c33e92, rgb(4, 0, 255));
  border-radius: 40%;
  font-size: 43px;
}

.pedido_titulo {
  color: aqua;
  font-weight: bold;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  text-align: center;
  line-height: 3;
  align-items: center;
  font-size: 35px;
}
.pedido_imagen {
  border-radius: 40%;
  transition: height 2s, width 1s;
}
.pedido_contenido {
  color: aqua;
  font-size: 30px;
  background-color: #043caa;
  font-weight: bold;
  padding: 15px;
  border-radius: 40px;
  text-align: center;
}

.delivery_contenedor {
  text-align: start;
}
.delivery_titulo {
  color: aqua;
  font-weight: bold;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  line-height: 3;
  padding: 15px;
  font-size: 35px;
  text-align: center;
}
.delivery_imagen {
  border-radius: 40%;
  margin: 15px;
}
.delivery_contenido {
  color: aqua;
  font-size: 30px;
  background-color: #043caa;
  font-weight: bold;
  border-radius: 40px;
  padding: 15px;
  text-align: center;
}

.takeaway_titulo {
  color: aqua;
  font-weight: bold;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  text-align: center;
  line-height: 3;
  padding: 15px;
  font-size: 35px;
}
.takeaway_imagen {
  border-radius: 40%;
}

.takeaway_contenido {
  color: aqua;
  font-size: 30px;
  background-color: #043caa;
  font-weight: bold;
  border-radius: 40px;
  text-align: center;
  padding: 15px;
}
.pedilo_ahora_contenedor {
  text-align: center;
}
.pedilo_ahora {
  background-image: linear-gradient(to bottom, #c33e92, rgb(4, 0, 255));
  color: aqua;
  font-size: 40px;
  padding: 20px;
  border-radius: 45px;
  font-weight: bold;
  margin-right: 45px;
}

.pedilo_ahora:hover {
  background-image: linear-gradient(to bottom, #c33e92, rgb(4, 0, 255));
  color: aqua;
  font-size: 40px;
  border-radius: 45px;
  font-weight: bold;
  transition: all 2s;
  padding: 40px;
  margin-right: 20px;
  align-self: center;
}
/* FIN CÓMO TRABAJAMOS */

/* INICIO PROMOCIONES */
.promociones_principal {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
}

.promociones_titulo {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  font-weight: bold;
  line-height: 3;
  text-align: center;
  color: aqua;
  border-radius: 10%;
  padding: 50px;
  margin: 50px;
  font-size: 35px;
}

/* FIN PROMOCIONES */

/* INICIO FOOTER */

.footer_principal {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  color: white;
  font-size: medium;
  padding: 30px;
  display: grid;
  grid-template-areas:
    "logo redes"
    "texto1 texto2";
  grid-template-columns: 1f 1fr;
  grid-template-rows: 1fr;
}
.footer_farmacia {
  display: grid;
  grid-template-areas:
    "logo"
    "texto1";
  grid-template-columns: 1f 1fr;
  grid-template-rows: 1fr;
  width: 100px;
}
.footer_principal_imagen_logo {
  border-radius: 40%;
  grid-template-columns: logo;
  width: 5vw;

  .footer_instagram {
    display: grid;
    grid-template-areas:
      "redes1 redes2"
      "texto2";
    grid-template-columns: 1f 1fr;
    grid-template-rows: 1fr;
  }
}
.footer_principal_texto_contacto {
  font-size: 20px;
}

.fOOter_principal_imagen_redes {
  border-radius: 40%;
  grid-area: redes1;
  width: 5vw;
}
.fOOter_principal_imagen_redes {
  border-radius: 40%;
  grid-area: redes2;
  width: 5vw;
}
.footer_principal_texto_instagram {
  font-size: 20px;
}

@media only screen and (max-width: 376px) {
  .navegacion_principal_header_logo {
    width: 15%;
  }

  .navegacion_principal_header {
    background-color: blue;
    position: fixed;
    display: grid;
    grid-template-areas: "logo nav";
    z-index: 99;
  }

  .navegacion_principal_header_logo {
    grid-area: logo;
    border-radius: 30%;
    padding: 6px;
  }

  .titulo_nav {
    text-align: center;
    border-radius: 50px;
    padding: 15px;
    margin: 5px;
    color: white;
    font-size: 15px;
    width: 50%;
  }

  .footer_principal_texto_instagram {
    color: aqua;
    font-weight: bold;
    font-size: 10px;
    grid-area: texto2;
    text-align: start;
    padding-top: 10px;
  }
  .footer_principal_texto_contacto {
    color: aqua;
    font-weight: bold;
    font-size: 10px;
    grid-area: texto1;
    padding-top: 10px;
  }
  .main_header_principal_imagen {
    height: 175px;
  }

  .como_trabajamos_titulo {
    font-size: 25px;
  }

  .pedido_titulo {
    font-size: 18px;
  }
  .pedido_imagen {
    width: 250px;
  }
  .pedido_contenido {
    font-size: 15px;
  }

  .delivery_contenedor {
    text-align: start;
  }
  .delivery_titulo {
    font-size: 18px;
  }
  .delivery_imagen {
    width: 250px;
  }
  .delivery_contenido {
    font-size: 15px;
  }

  .takeaway_contenedor {
    margin-right: 15px;
  }
  .takeaway_titulo {
    font-size: 18px;
  }
  .takeaway_imagen {
    width: 250px;
  }

  .takeaway_contenido {
    font-size: 15px;
  }
  .pedilo_ahora_contenedor {
    text-align: center;
  }
  .pedilo_ahora {
    font-size: 28px;
  }
  .promociones_titulo {
    font-size: 20px;
    padding: 30px;
    margin: 20px;
    width: 50%;
  }
}
