/* INICIO CARACTERISTICAS GENERALES */
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* FIN CARACTERISTICAS GENERALES */

/* INICIO CÓMO TRABAJAMOS */
.whatsapp {
  position: fixed;
  bottom: 40px;
  right: 65px;
}
.navegacion_principal_header {
  background-color: rgb(0, 81, 255);

  
}
.navegacion_principal_header_logo {
  width: 160px;
  border-radius: 30%;
  padding: 6px;
}

.titulo_nav {
  text-align: center;
  border-radius: 50px;
  margin: 30px;
  color: white !important;
  font-weight: bold;
  font-size: 10px !important;
}

.carousel-item {
  height: 700px;
}
.como_trabajamos {
  background-color: #bfd0d0;
  padding-top: 30px;
}

.como_trabajamos_titulo {
  color: rgb(81, 90, 83);
  font-weight: bold;
  line-height: 3;
  border-radius: 40%;
  font-size: 55px;
}

.pedido_titulo {
  color: #bfd0d0;
  font-weight: bold;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  text-align: center;
  line-height: 3;
  align-items: center;
  font-size: 35px;
}
.pedido_imagen {
  border-radius: 40%;
  transition: height 2s, width 1s;
}
.pedido_contenido {
  color: rgb(28, 100, 59);
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  border-radius: 40px;
  text-align: center;
}

.delivery_contenedor {
  margin: 50px;
}
.delivery_titulo {
  color: #bfd0d0;
  font-weight: bold;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  line-height: 3;
  font-size: 35px;
  text-align: center;
}
.delivery_imagen {
  border-radius: 40%;
  margin: 15px;
}
.delivery_contenido {
  color: rgb(28, 100, 59);
  font-size: 30px;
  font-weight: bold;
  border-radius: 40px;
  padding: 15px;
  text-align: center;
}

.takeaway_contenedor {
  margin: 50px;
}

.takeaway_titulo {
  color: #bfd0d0;
  font-weight: bold;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  text-align: center;
  line-height: 3;
  font-size: 35px;
}
.takeaway_imagen {
  border-radius: 40%;
}

.takeaway_contenido {
  color: rgb(28, 100, 59);
  font-size: 30px;
  font-weight: bold;
  border-radius: 40px;
  text-align: center;
  padding: 15px;
}
.pedilo_ahora_contenedor {
  margin-top: 400px;
  margin-left: 300px;
  text-align: center;
}
.pedilo_ahora {
  background-image: linear-gradient(
    to bottom,
    rgb(28, 100, 59),
    rgb(4, 0, 255)
  );
  color: #bfd0d0;
  font-size: 40px;
  padding: 20px;
  border-radius: 45px;
  font-weight: bold;
  margin-right: 45px;
}

.pedilo_ahora:hover {
  background-image: linear-gradient(to bottom, #c33e92, rgb(4, 0, 255));
  color: aqua;
  font-size: 40px;
  border-radius: 45px;
  font-weight: bold;
  transition: all 2s;
  padding: 40px;
  margin-right: 20px;
  align-self: center;
}
/* FIN CÓMO TRABAJAMOS */

/* INICIO FOOTER */

.footer_principal {
  background-color: rgb(0, 81, 255);
  color: white;
  font-size: medium;
  padding: 30px;
}

.footer_principal_imagen_logo {
  border-radius: 40%;
  width: 5vw;

  .footer_instagram {
    display: grid;
    grid-template-areas:
      "redes1 redes2"
      "texto2";
    grid-template-columns: 1f 1fr;
    grid-template-rows: 1fr;
  }
}
.footer_principal_texto_contacto {
  font-size: 21px;
  font-weight: bold;
  color: #bfd0d0;
}

.fOOter_principal_imagen_redes {
  border-radius: 40%;
  grid-area: redes1;
  width: 5vw;
}
.fOOter_principal_imagen_redes {
  border-radius: 40%;
  grid-area: redes2;
  width: 5vw;
}
.footer_principal_texto_instagram {
  font-size: 21px;
  font-weight: bold;
  color: #bfd0d0;
}
/* FIN FOOTER */
/* Inicio MAX-768px */

@media only screen and (max-width: 768px) {
  .whatsapp  {
    bottom: 60px;
    right: 60px !important;
    
  }
  .navegacion_principal_header_logo {
    width: 100px;

  }
  
  .carousel-item {
    height: 300px;
  }
  .como_trabajamos_titulo {
    font-size: 35px;
    padding-left: 15px;
  }

  .pedido_titulo {
    font-size: 25px;
    width: 50%;
    margin-left: 50px;
  }
  .pedido_imagen {
    width: 50%;
    margin-left: 55px;
  }
  .pedido_contenido {
    font-size: 20px;
    width: 60%;
  }

  .delivery_titulo {
    font-size: 25px;
    width: 50%;
    margin-left: 50px;
  }
  .delivery_imagen {
    width: 50%;
    margin-left: 55px;
  }
  .delivery_contenido {
    font-size: 20px;
    width: 60%;
  }

  .takeaway_titulo {
    font-size: 25px;
    width: 50%;
    margin-left: 50px;
  }
  .takeaway_imagen {
    width: 50%;
    margin-left: 55px;
  }

  .takeaway_contenido {
    font-size: 20px;
    width: 60%;
  }
  .pedilo_ahora_contenedor {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
  }
  .pedilo_ahora {
    width: 50%;
    font-size: 25px;
  }

  .footer_principal_imagen_logo {
    border-radius: 40%;
    width: 5vw;

    .footer_instagram {
      display: grid;
      grid-template-areas:
        "redes1 redes2"
        "texto2";
      grid-template-columns: 1f 1fr;
      grid-template-rows: 1fr;
    }
  }
  .footer_principal_texto_contacto {
    font-size: 10px;
  }

  .fOOter_principal_imagen_redes {
    border-radius: 40%;
    grid-area: redes1;
    width: 5vw;
  }
  .fOOter_principal_imagen_redes {
    border-radius: 40%;
    grid-area: redes2;
    width: 5vw;
  }
  .footer_principal_texto_instagram {
    font-size: 10px;
    font-weight: bold;
    color: #bfd0d0;
  }
}
/* Fin MAX-768px */

/* Inicio MAX-376px */
@media only screen and (max-width: 376px) {

  .whatsapp {
    right: 20px !important;
    bottom: 40px;
    width: 50px;
    height: 50px;
  }

.titulo_nav {
  font-size: 14px !important;
  
    }

.navegacion_principal_header_logo{
      width: 50px !important;

    }
  .carousel-item {
    height: 150px;
    margin-top: 50px;
  }
  .como_trabajamos_titulo {
    font-size: 20px;
  }
  .pedido_contenedor{
    margin: 10px 0px !important;
  }
  .pedido_titulo {
    font-size: 15px;
  }
  .pedido_imagen {
    margin-right: 20px;
  }
  .pedido_contenido {
    font-size: 15px;
    margin-left: 30px;
  }
  .delivery_contenedor{
    margin: 10px 0px;
  }
  .delivery_titulo {
    font-size: 15px;
  }
  .delivery_imagen {
    margin-right: 20px;
  }
  .delivery_contenido {
    font-size: 15px;
    margin-left: 30px;
  }
  .takeaway_contenedor{
    margin: 10px 0px;
  }
  .takeaway_titulo {
    font-size: 15px;
  }
  .takeaway_imagen {
    margin-right: 20px;
  }

  .takeaway_contenido {
    font-size: 15px;
    margin-left: 30px;
  }
  .pedilo_ahora_contenedor {
    text-align: center;
    margin: 15px 0px;
  }
  .pedilo_ahora {
    font-size: 18px;

    
  }
  .footer_principal_texto_instagram {
    font-size: 6px;
    padding-top: 2px;
  }
  .footer_principal_texto_contacto {
    font-size: 6px;
    padding-top: 2px;
  }

/* Fin MAX-376px */

}