  /* INICIO PAGINA MEDICAMENTOS */
  
  .medicamentos_principal {
    background-color: #bfd0d0;
    padding-bottom: 25px;

  }
  
  .medicamentos_titulo {
    font-size: 30px;
    color: green;
    font-weight: bold;
    border-radius: 40%;
    text-align: center;
    margin-top: 300px;
  }

  .imagen_medicamentos_01, .imagen_medicamentos_02,.imagen_medicamentos_03{
    width: 500px;
    border-radius: 30%;
    margin-top: 150px;
  }



  .descripcion_medicamentos {
    font-size: 30px;
    color: blue;
    font-weight: bold;
    
    
  }
  @media only screen and (max-width: 768px){
    .medicamentos_titulo {
      margin-top: 200px;
    }
    
    .descripcion_medicamentos {
      font-size: 15px;
    }
    .imagen_medicamentos_01{
      width: 500px;
      border-radius: 30%;
      margin-top: 110px;
    }
    .imagen_medicamentos_02,.imagen_medicamentos_03 {
      width: 500px;
      border-radius: 30%;
      margin-top: 150px;
    }

  }

  @media only screen and (max-width: 376px) {
      
  
  .medicamentos_titulo {
    font-size: 20px;
    width: 50%;
    margin-top: 50px !important;
    
    }

  
  .imagen_medicamentos_01, .imagen_medicamentos_02, .imagen_medicamentos_03{
    width: 500px;
    border-radius: 30%;
    margin-top: 15px;
  }


  .descripcion_medicamentos {
    font-size: 15px;

  }
  
  }